*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f3fff5;
}

#mainLayout{
  display:flex;
}

#sidebar{
  width:220px;
  min-height:100vh;
  background:#1b5e20;
  color:white;
  padding:20px;
}

#content{
  width:100%;
  padding:20px;
}

#balanceSection{
  display:flex;
  gap:15px;
  margin:20px 0;
}

.balanceCard{
  flex:1;
  background:white;
  padding:20px;
  border-radius:10px;
}

#formSection{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
}

#formSection input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

button{
  background:#2e7d32;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  cursor:pointer;
}

#buttonGroup{
  display:flex;
  gap:10px;
}

table{
  width:100%;
  background:white;
  border-collapse:collapse;
}

th{
  background:#2e7d32;
  color:white;
  padding:10px;
}

td{
  padding:10px;
  text-align:center;
}

.editBtn{
  background:blue;
  margin-right:5px;
}

.deleteBtn{
  background:red;
}